@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
    --lb: #0d1dd2;
    --db: #0615de;
    --wc: white;
    --bc: black;
    --pc: #cd094e;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--wc);
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: var(--bc);
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
}

.search {
    padding: 0.5rem 1rem;
    border-radius: 50px;
    border: 2px solid var(--wc);
    background-color: transparent;
    font-family: inherit;
    color: #eee;
    font-size: 1rem;
}

.search::placeholder {
    color: var(--wc);
}

.search:focus {
    outline: none;
    background-color: var(--bc);
}

main {
    /* display: flex;
    flex-wrap: wrap; 
    justify-content: center; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1rem 2rem;
    margin: 0 1rem;
}
/* ye baad me dekhte hai */

section{
    display: flex;
    justify-content: center;
    gap: 0 3rem;
}

section button{
    padding: 20px;
    font-size: 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
}

.movie {
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    min-width: 100%;
    margin: 1.5rem 0;
    overflow: hidden;
    position: relative;
    background-color: black;
    transition: border .3s ease-in-out;
}

.movie img {
    width: 100%;
}

.movie#chartreuse:hover{
    border: 8px solid chartreuse;
} 
.movie#darkorange:hover{
    border: 8px solid darkorange;
} 
.movie#crimson:hover{
    border: 8px solid crimson;
} 

.movie-info {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    color: #eee;
    letter-spacing: 0.5px;
    align-items: center;
}

.movie-info h3 {
    margin: 0;
}

.movie-info span {
    background-color: #22254b;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.movie-info span.green{
    color: rgb(46, 194, 46);
}

.movie-info span.orange {
    color: orange;
}
.movie-info span.red {
    color: red;
}

.overview {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: var(--bc);
    padding: 2rem;
    transform: translateY(100%);
    transition: transform 1s ease-in;
    max-width: 100%;
    overflow: auto;
}

.overview p {
    color: var(--wc);
}

.movie:hover .overview {
    transform: translateY(0);
}

.overview h4 {
    margin-top: 0;
    color: var(--wc);
}

@media (max-width: 695px) {
    header {
        justify-content: center;
    }
}